<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abw.blog.mapper.AbwContentMapper">
  <resultMap id="BaseResultMap" type="com.abw.blog.model.AbwContent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="theme_image" jdbcType="VARCHAR" property="themeImage" />
    <result column="theme_video" jdbcType="VARCHAR" property="themeVideo" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
      <result column="view_num" jdbcType="BIGINT" property="viewNum" />
      <result column="comment_num" jdbcType="BIGINT" property="commentNum" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="curr_floor_num" jdbcType="BIGINT" property="currFloorNum" />

  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.abw.blog.model.AbwContent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source, category, title, theme_image, theme_video, tags, user_id, create_by, 
    create_time, modify_by, modify_time,view_num,comment_num,user_name,curr_floor_num
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from abw_content
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from abw_content
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.abw.blog.model.AbwContent">
    insert into abw_content (id, source, category, 
      title, theme_image, theme_video, 
      tags, user_id, create_by, 
      create_time, modify_by, modify_time, 
      content,user_name)
    values (#{id,jdbcType=BIGINT}, #{source,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{themeImage,jdbcType=VARCHAR}, #{themeVideo,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR},#{userName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.abw.blog.model.AbwContent">
    update abw_content
    set source = #{source,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      theme_image = #{themeImage,jdbcType=VARCHAR},
      theme_video = #{themeVideo,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abw.blog.model.AbwContent">
    update abw_content
    set source = #{source,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      theme_image = #{themeImage,jdbcType=VARCHAR},
      theme_video = #{themeVideo,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="searchContentList" parameterType="com.abw.blog.model.AbwContent" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from abw_content
        where 1 = 1
        <if test="id != null">
           and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="source != null">
            and source = #{source,jdbcType=VARCHAR}
        </if>
        <if test="category != null">
            and category = #{category,jdbcType=VARCHAR}
        </if>
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>

        <if test="tags != null">
            and tags like concat(concat('%',#{tags,jdbcType=VARCHAR}),'%')
        </if>
        <if test="userId != null">
            and user_id = #{userId,jdbcType=BIGINT}
        </if>

        <if test="modifyTime != null">
            and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="content != null">
            and (content like concat(concat('%',#{content,jdbcType=LONGVARCHAR}),'%')
                  or title like concat(concat('%',#{content,jdbcType=LONGVARCHAR}),'%'))
        </if>
        order by create_time desc

    </select>


    <update id="incrCommentNum" parameterType="java.lang.Long">
        update abw_content
        set comment_num = comment_num + 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="incrViewNum" parameterType="java.lang.Long">
        update abw_content
        set view_num = view_num + 1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="incrCurrFloorNum" parameterType="java.lang.Long">
        update abw_content
        set curr_floor_num = curr_floor_num + 1
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>